extends ../layout 

mixin tagSection(tagsPresent)
	if(tagsPresent)
		div(class="ticket-section" id="heading") 
			h1 Tags: 
			table(width="100%")
				tr(class="ticket-field-view" id="problem-tags")
					td= "Tags: " + ticket.problemTags

block content
	form(id="view-ticket", action="ticket/update", method="post")
		div(class="ticket-section", id="heading") 
			h1 Title: 
			table(width="100%")
				tr(class="ticket-field-view", id="problem-title")
						td= ticket.problemTitle
		+tagSection(ticket.problemTags.length > 1)
		div(class="ticket-section", id="details") 
			h1 Details: 
			table(width="100%")
				tr(class="ticket-field-view", id="hacker-name")
						td= "Hacker name: " + ticket.hackerName
				tr(class="ticket-field-view", id="project-name")
						td= "Project name: " + ticket.projectName
				tr(class="ticket-field-view", id="issue-description")
						td= "Description: " + ticket.problemDescription
				tr(class="ticket-field-view", id="location-description")
						td= "Location:" + ticket.hackerLocation
				tr(class="ticket-field-view", id="phone-number")
						td= "Phone number: " + ticket.hackerPhoneNumber
				tr(class="ticket-field-view", id="status-field")
					td Status:
						select(id="status-dropdown")
							option(value="Open") Open
							option(value="Claimed by mentor") Claimed by mentor
							option(value="Closed") Closed
						input(id="submit-change", class="nav-button", type="submit", value="Submit change")
